@media screen and (max-width: 915px) {
	
	.cart {
		width: calc(50% - 20px);
	}
	
	.cart__image {
		width: 100%;
	}
	
}

@media screen and (max-width: 700px) {

	.cart_after-js:after, .cart_after-html-css:after, .cart_after-html-css-js:after {
		font-size: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		   -ms-flex-pack: center;
		 justify-content: center;
		-webkit-box-align: center;
		   -ms-flex-align: center;
		      align-items: center;
	}
	
	.portfolio__container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		   -ms-flex-direction: column;
		       flex-direction: column;
	}
	
	.cart {
		width: 100%;
	}
	
}

@media screen and (max-width: 440px) {
	
	#greeting {
		padding-left: 7px;
		padding-top: 2px;
		line-height: 2.1;
		height: 65px;
		font-size: 30px;
	}
	
}