*,
*:before,
*:after {
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body {
	margin: 0 auto;
	max-width: 960px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}




/* Header */

header {
	padding: 100px 58px 60px 60px;
	background-color: white;
}

.logo {
	display: inline-block;
	padding: 0 8px 15px 0;
	font-size: 36px;
	font-family: 'Alata', sans-serif;
	font-weight: 400;
	color: #000000;
}




/* Main */

main {
	padding: 60px 58px 40px 60px;
	color: #3e3d3d;
	background-color: white;
}

h1 {
	padding-left: 23px;
	height: 86px;	
	line-height: 1.9;
	color: white;
	font-size: 46px;
	font-weight: 400;
	font-family: Arial, sans-serif;
	background-color: #918591;
}

h2 {
	padding-bottom: 40px;
	font-size: 30px;
	color: #000000;
}

h1 +p {
	padding-top: 15px;
}

a[title="Write me"] {
	color: #000000;
}




/* Portfolio */



.portfolio {
	padding-top: 120px;
}

.skills {
	margin-bottom: 35px;
}

.portfolio__title {
	width: 200px;
}

.skills__item, 
.portfolio__title, 
.skills {
	display: inline-block;
}

.skills__item {
	margin-right: 8px;
	padding-bottom: 10px;
}

.skills__title {
	border-bottom: 2px dotted;
	cursor: pointer;
}

.skills__title_js {
	color: #94be93;
}

.skills__title_tm {
	color: #be94b5;
}

.skills__title_all {
	color: #000000;
}

.skills__title_active {
	cursor: default;
	border-bottom: none;
}

.skills__title_js:hover,
.skills__title_tm:hover {
	border-bottom: none;
}

.portfolio__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	 justify-content: space-between;
}

.cart {
	width: 260px;
	margin-bottom: 35px;
}

.cart__image {
	position: relative;
	margin-bottom: 20px;
	width: 260px;
	height: 224px;
	border: solid 1px #e1e1e1;
}

.cart_position {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cart_bg-0 {
	background-image: url(../images/portfolio/portfolio-0.gif);
}


.cart_bg-1 {
	background-image: url(../images/portfolio/portfolio-1.jpg);
}

.cart_bg-2 {
	background-image: url(../images/portfolio/portfolio-2.jpg);
}

.cart_bg-3 {
	background-image: url(../images/portfolio/portfolio-3.jpg);
}


.cart_bg-4 {
	background-image: url(../images/portfolio/portfolio-4.jpg);
}

.cart_bg-5 {
	background-image: url(../images/portfolio/portfolio-5.jpg);
}

.cart_bg-6 {
	background-image: url(../images/portfolio/portfolio-6.jpg);
}

.cart_bg-7 {
	background-image: url(../images/portfolio/portfolio-7.jpg);
}

.cart_after-js:after {
	content: "JavaScript";
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #94be93;
	top: calc(50% - 20px);
	color: #ffffff;
	font-family: Calibri, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 1.6;
}

.cart_after-html-css:after {
	content: "HTML+CSS";
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #be94b5;
	top: calc(50% - 20px);
	color: #ffffff;
	font-family: Calibri, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 1.6;
}

.cart_after-html-css-js:after {
	content: "HTML+CSS+JavaScript";
	position: absolute;
	width: 100%;
	height: 40px;
	/*background-color: #94bdbe;*/
	background-color: #be94b5;
	top: calc(50% - 20px);
	color: #ffffff;
	font-family: Calibri, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 1.6;
}

.cart_after-nothing:after {
	content: "Скоро будет еще";
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #a9a9a9;
	top: calc(50% - 20px);
	color: #ffffff;
	font-family: Calibri, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 1.6;
}

.cart__description {
	padding-bottom: 15px;
}

.data {
	height: 17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	justify-content: space-between;
}

.data__time {
	padding-top: 2px;
	font-size: 14px;
	color: #8C8C8C;
}

.data__link {
	font-size: 14px;
	color: #3e3d3d;
}

.data__link:hover {
	text-decoration: none;
}

.loader {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	/*color: #be94b5;*/
	color: #3e3d3d;
	cursor: pointer;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
}

.loader:hover {
	text-decoration: none;
}
