*,
*::before,
*::after {
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body {
	margin: 0 auto;
	max-width: 960px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}



/* Header */

header {
	padding: 100px 58px 60px 60px;
	background-color: white;
}

.logo {
	display: inline-block;
	padding: 0 8px 15px 0;
	font-size: 36px;
	font-family: 'Alata', sans-serif;
	font-weight: 400;
	color: #000000;
}

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



/* Main */

main {
	padding: 60px 58px 60px 60px;
	color: #3e3d3d;
	background-color: white;
}

h1 {
	padding-left: 23px;
	height: 86px;	
	line-height: 1.9;
	color: white;
	font-size: 46px;
	font-weight: 400;
	font-family: Arial, sans-serif;
	background-color: #918591;
}

h1 + p {
	padding-top: 15px;
}

a[title="Write me"] {
	color: #000000;
}




/* Portfolio */

.portfolio {
	padding-top: 120px;
}

h2 {
	padding-bottom: 40px;
	font-size: 30px;
	color: #000000;
}

.cart {
	width: 301px;
}

.cart > img {
	padding-bottom: 15px;
}

.cart > img +p {
	padding-bottom: 15px;
}

.data-Time {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	justify-content: space-between;
}

.data-Time > a {
	font-size: 14px;
	color: #3e3d3d;
}

.data-Time > a:hover {
	text-decoration: none;
}

.data-Time > p {
	font-size: 12px;
	color: #8C8C8C;
}





