@media screen and (max-width: 825px) {
	header {
		margin-top: -191px;
	}
	
	.hide {
		-webkit-animation-name: hide-header;
		        animation-name: hide-header;
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;
	}

	@-webkit-keyframes hide-header {
		0% {
			margin-top: 0;
		}
		100% {
			margin-top: -191px;
		}
	}

	@keyframes hide-header {
		0% {
			margin-top: 0;
		}
		100% {
			margin-top: -191px;
		}
	}

	.show {
		-webkit-animation-name: show-header;
		        animation-name: show-header;
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;
	}

	@-webkit-keyframes show-header {	
		0% {
			margin-top: -191px;
		}
		100% {
			margin-top: 0;
		}
	}

	@keyframes show-header {	
		0% {
			margin-top: -191px;
		}
		100% {
			margin-top: 0;
		}
	}

	
}

@media screen and (max-width: 720px) {
	header {
		margin-top: -215px;
	}
	
	.hide {
		-webkit-animation-name: hide-header;
		        animation-name: hide-header;
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;
	}

	@-webkit-keyframes hide-header {
		0% {
			margin-top: 0;
		}
		100% {
			margin-top: -215px;
		}
	}

	@keyframes hide-header {
		0% {
			margin-top: 0;
		}
		100% {
			margin-top: -215px;
		}
	}

	.show {
		-webkit-animation-name: show-header;
		        animation-name: show-header;
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;
	}

	@-webkit-keyframes show-header {	
		0% {
			margin-top: -215px;
		}
		100% {
			margin-top: 0;
		}
	}

	@keyframes show-header {	
		0% {
			margin-top: -215px;
		}
		100% {
			margin-top: 0;
		}
	}

}

@media screen and (max-width: 555px) {
	header {
		margin-top: -382px;
	}
	
	.hide {
		-webkit-animation-name: hide-header;
		        animation-name: hide-header;
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;
	}

	@-webkit-keyframes hide-header {
		0% {
			margin-top: 0;
		}
		100% {
			margin-top: -382px;
		}
	}

	@keyframes hide-header {
		0% {
			margin-top: 0;
		}
		100% {
			margin-top: -382px;
		}
	}

	.show {
		-webkit-animation-name: show-header;
		        animation-name: show-header;
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;
	}

	@-webkit-keyframes show-header {	
		0% {
			margin-top: -382px;
		}
		100% {
			margin-top: 0;
		}
	}

	@keyframes show-header {	
		0% {
			margin-top: -382px;
		}
		100% {
			margin-top: 0;
		}
	}
}

















