*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.cross {
	position: absolute;
	margin-top: 35px;
	margin-left: 45px;
	z-index: 3;
}

.cross__link {
	text-decoration: none;
	font-size: 45px;
	font-family: Arial, sans-serif;
	color: #000000;
}

.cross__link:focus {
	outline: none;
}

.nav {
	position: fixed;
	height: 100vh;
	width: 300px;
	padding: 35px;
	background-color: #D6D6D6;
	-webkit-transform: translateX(-300px);
	    -ms-transform: translateX(-300px);
	        transform: translateX(-300px);
	z-index: 2;
}

.nav_display {
	top: 0;
	left: 0;
	-webkit-box-shadow: 1px 0 15px #777777;
	        box-shadow: 1px 0 15px #777777;
}

.nav__title {
	padding-bottom: 35px;
	font-size: 30px;
	font-family: Colibri, sans-serif;
	color: #000000;
}

.nav__link {
	display: block;
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial, sans-serif;
	color: #000000;
}

.nav__link:hover {
	text-decoration: underline;
}

.base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0.2;
}

.wrapper {
	display: flex;
	justify-content: center;
	font-family: Calibri, Arial, sans-serif;
	color: #454545;
}

.block {
	padding: 80px 20px;
}

.title {
	padding-bottom: 25px;
	font-size: 42px;
}

.description {
	padding-bottom: 10px;
	font-size: 21px;
}

